<section class="page-section bg-dark  text-white mb-0" id="about">
	<div class="container">
		<div class="row">
			<div class="col-lg-4 ms-auto">
				<div class="card text-white bg-success mb-3 " style="max-width: 20rem;">
					<div class="card-body">
						<p class="card-text">La Société d’aménagement foncier et d’établissement rural (Safer) permet à tout porteur de projet viable. Qu’il soit agricole, artisanal, de service, résidentiel ou environnemental de s’installer en milieu rural.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 me-auto">
				<div class="card text-white bg-success mb-3 " style="max-width: 20rem;">
					<div class="card-body">
						<p class="card-text">Grâce à cette offre diversifiée, la Safer  s'engage à soutenir les projets de développement en milieu rural, en proposant des solutions adaptées aux besoins de chaque porteur de projet</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 me-auto">
				<div class="card text-white bg-success mb-3 " style="max-width: 20rem;">
					<div class="card-body">
						<p class="card-text">En somme, la Safer est un acteur clé de l'aménagement et de la revitalisation des territoires ruraux, et un partenaire incontournable pour tous ceux qui souhaitent s'installer en milieu rural.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
