<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.16.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<strong>Accueil Agence Alpha</strong>
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor02">
			<ul class="navbar-nav me-auto">

				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/4">Categorie
						<u>Batiment</u>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/3">Categorie
						<u>Bois</u>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/5">Categorie
						<u>Exploitation</u>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/2">Categorie
						<u>Prairie</u>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/1">Categorie
						<u>Terrain Agricole</u>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href=""></a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/admin">Admin</a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/inscription_user">Inscription</a>
				</li>
				<li class="nav-item">
					<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/contact">Contact</a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-sm-2" type="search" placeholder="Search">
				<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
