{% set icon = icon %}
{% set text = text %}
{% set img = img %}

<div class="col">
	<div class="card">
		<img src={{img}} style="max-width: 400px; max-height: 150px;" class="img-fluid" alt=""/>
		<div class="card-body">
			<h4 class="card-title">{{ text }}
				<i class="{{ icon }}"></i>
			</h4>
		</div>
	</div>
</div>