{# Template général de la page #}
{% extends 'base.html.twig' %}

{% block title %}
	Modification d'un bien
{% endblock %}

{% block stylesheets %}
	<link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{% include 'shared/_header.html.twig' %}
	<div style="background-color : white">
		<div class="container bg-light">
			<div class="alert alert-dismissible alert-secondary ">
				<h1 class="page-section-heading text-center text-black">
					<i class="fa-solid fa-arrow-down"></i>
					Modifier un bien
					<i class="fa-solid fa-arrow-down"></i>
				</h1>
			</div>
			<a class="" href="/admin">
				<button type="button" class="btn btn-info">Revenir au menu admin</button>
			</a>
			<form>
				<fieldset>
					<legend>
						<hr/>
						<strong>- Modification d'un bien :</strong>
						<hr/>
					</legend>
					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Titre du bien</label>
						<input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Entrez un titre">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Prix du bien</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrez un prix">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Code Postal</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrez un code postal">
					</div>
					<div class="form-group">
						<label for="exampleTextarea" class="form-label mt-4">Description</label>
						<textarea class="form-control" id="exampleTextarea" rows="3" placeholder="Entrez une description"></textarea>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Localisation</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrez une localisation">
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1" class="form-label mt-4">Surface</label>
						<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrez une surface">
					</div>
					<div class="form-group">
						<label for="exampleSelect1" class="form-label mt-4">Catégorie</label>
						<select class="form-select" id="exampleSelect1">
							<option>Terrain Agricole - 1</option>
							<option>Prairie - 2</option>
							<option>Bois - 3</option>
							<option>Bâtiment - 4</option>
							<option>Exploitation - 5</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Modifier le bien</button>
				</fieldset>
			</form>
		</div>
	</div>
{% endblock %}
