{# Template général de la page #}
{% extends 'base.html.twig' %}

{% block title %}
	Bien supprimé
{% endblock %}

{% block stylesheets %}
	<link href="https://bootswatch.com/4/lumen/bootstrap.min.css" rel="stylesheet"/>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet"/>
{% endblock %}

{% block body %}

	{% include 'style/_header.html.twig' %}
	<div style="background-color : white">
		<div class="container bg-light">
			<div class="alert alert-dismissible alert-secondary ">
				<h1 class="page-section-heading text-center text-black">
					<i class="fa-solid fa-arrow-down"></i>
					Suppresion un bien
					<i class="fa-solid fa-arrow-down"></i>
				</h1>
			</div>
			<a class="" href="/admin">
				<button type="button" class="btn btn-info">Revenir au menu admin</button>
			</a>
			<hr/>
			<h1>Bien supprimé! </h1>
			<hr/>
		</div>
	</div>
{% endblock %}
