<html>
	<head>
		<title>
			Hello Title
		</title>
	</head>

	<body>
		<h1>
			Hello , vous êtes dans la catégorie
			{{nom_categorie}}</h1>

		<p>Liste Biens :</p>
		 <ul>
            {% for title in liste_bien_cat5.titre %}
                <li>{{ title }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for price in liste_bien_cat5.prix %}
                <li>Prix: {{ price }}</li>
            {% endfor %}
        </ul>
        <ul>
            {% for surface in liste_bien_cat5.surface %}
                <li>Surface: {{ surface }}</li>
            {% endfor %}
        </ul>
		
	</body>
</html>
