{% extends 'base.html.twig' %}
{% block title %}
  Accueil Agence Alpha
{% endblock %}
{% block stylesheets %}
  <link href="https://bootswatch.com/4/lumen/bootstrap.min.css"
    rel="stylesheet" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
{% endblock %}

{% block body %}
  <div class="container">
    <h1>
      Accueil
    </h1>
    {% include 'shared/_presentation.html.twig' %}

    <div class="card bg-primary text-white text-center">
      <div class="class-body">
        <div class="row">
          <div class="col">
            <img src="https://picsum.photos/200/400" class="img-fluid" alt="" />
            <div class="card-body">
              <h4 class="card-title">
                Magnifique maison <i class="fa-solid fa-magnifying-glass-plus"></i>
              </h4>
              <p class="card-text">
                description du bien
              </p>
              <a href="#" class="btn btn-primary btn-sn">Détails</a>
              <a href="#" class="btn btn-success btn-sn">Ajouter</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr />
    <h2>
      Votre agence de proximité <i class="fas fa-check"></i>
    </h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis euismod
      velit sed odio dignissim mollis. Nulla a molestie quam, ut sagittis augue.
      Aliquam erat volutpat. Vivamus tellus justo, congue ac auctor semper,
      sodales in risus. Fusce et fringilla erat. Nullam ultricies suscipit
      sodales.
    </p>

    <div class="card-text">
      <p>
        Ceci est un paragraphe
      </p>
    </div>
  </div>
{% endblock %}
