{# Template général de la page #}
{% extends 'base.html.twig' %}

{% block body %}
<h1>ajouter une categorie
	</h1>
	<div class="row">
		<div class="col"> Le formulaire est ici. </div>
		<div class="col">
			<button type="submit">
				Créer une caté
					
			</button>
		</div>
	</div>
{% endblock %}
