<div class="alert alert-dismissible alert-secondary ">
	<h2 class="page-section-heading text-center text-uppercase text-black">Votre agence de
		<strong>proximité</strong>
		!
		<i class="fas fa-check"></i>
	</h2>
</div>

<hr/>
{% include 'shared/_about.html.twig' %}
<hr/>

<div class="row">
	{% include 'shared/_presentation.html.twig' with {'img' : 'https://f.hellowork.com/edito/sites/3/2021/03/management_proximite-1-1200x628.jpg?v=1657025314', 'icon' : 'fa-sharp fa-solid fa-location-dot', 'text' : 'Proximité'}%}
	{% include 'shared/_presentation.html.twig' with {'img' : 'https://www.lecoindesentrepreneurs.fr/wp-content/uploads/2020/09/Creer-une-societe-de-conseil.png', 'icon' : 'fa-solid fa-magnifying-glass-plus', 'text' : 'Conseil'}%}
	{% include 'shared/_presentation.html.twig' with {'img' : 'https://www.netpme.fr/wp-content/uploads/2016/10/1409909964choix_Fotolia_55876265_S-682x403.jpg', 'icon' : 'fa-solid fa-pen', 'text' : 'Choix'}%}
</div>
