<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top bg-dark">
	<a class="navbar-brand" href="/#page-top">Accueil Agence Alpha</a>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/batiment">Categorie Batiment</a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/bois">Categorie Bois</a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/exploitation">Categorie Exploitation</a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/prairie">Categorie Prairie</a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/categorie/terrainagricole">Categorie Terrain Agricole</a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact"></a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Inscription</a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="#about">About</a>
			</li>
			<li class="nav-item">
				<a class="nav-link py-3 px-0 px-lg-3 rounded" href="/hello">Contact</a>
			</li>
		</ul>
	</div>
</nav>
