<div class="row">
  <div class="col">
    <div class="card">
      <img src="https://www.pmclogiciels.fr/wp-content/uploads/2016/07/Service-de-proximite.png"
        class="img-fluid"
        alt="" />
      <div class="card-body">
        <h4 class="card-title">
          Proximité
        </h4>
        <p class="card-text">
          i<i class="fa-solid fa-people-simple"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://www.arthur-loyd-oise.com/upload/media/page/350x0/1390-arthur-loyd-oise-conseil.png"
        class="img-fluid"
        alt="" />
      <div class="card-body">
        <h4 class="card-title">
          Conseil
        </h4>
        <p class="card-text">
          i<i class="fa-solid fa-user-doctor-message"></i>
        </p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <img src="https://www.netpme.fr/wp-content/uploads/2016/10/1409909964choix_Fotolia_55876265_S-682x403.jpg"
        class="img-fluid"
        alt="" />
      <div class="card-body">
        <h4 class="card-title">
          Choix
        </h4>
        <p class="card-text">
          i<i class="fa-sharp fa-solid fa-ballot"></i>
        </p>
      </div>
    </div>
  </div>
</div>
